<h1>Signup to play the game</h1>
<div class="container">

  <form action="/signup" method="POST">
    Email: <input type="email" name="email_address"><br>
    Password: <input type="password" name="password">
    <input type="submit">
  </form>


<h2>Login</h2>
  <form action="/login" method="POST">
    Email: <input type="email" name="email_address"><br>
    Password: <input type="password" name="password">
    <input type="submit">
  </form>



</div>
